

.menu{
    background-color: rgb(12, 210, 144);
    margin: auto;
    width: 1200px;
    height: 100px;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1%;
    
}
.ancho{
   width: 50%;
}
    
.btn{
   display: contents;
   color: azure;
}
.btn2{
    background-color: azure;
}
 .tarea{
    border-radius: 40px;
    width: 200px;
    display: contents;
 }
 .tarea1{
        border-radius: 40px;
        width: 200px;  
        margin: 20px 60px 10px;    
 }
 .container{
    background-color:none;
    width: 1100px;
    height: 100px;
    margin: auto;
    border-color: rgb(97, 243, 12);
 }
 .boton{
    border-radius: 30px;
    width: 300px;  
    height: 30px;
    box-shadow: 2px 2px 2px 1px;
    margin: 40px 700px 30px; 
 }
 .table{
    width: 1100px;
    height: 500px;
    margin: auto;
    box-shadow: 2px 1px 8px 2px;
    display: flex;
      
 }
  .title {
   margin: 20px 200px 20px 20px;

 }


 